{{ partial "header" . }}
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-auto">
      <img style="border: 1px solid #ddd; border-radius:50%; width: 150px;" src="/images/chichi-sticks-logo.png"></img>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <h1>{{ with .Site.Params.title }}{{ . | markdownify }}{{ end }}</h1>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col col-md-1"></div>
    <div class="col text-center">
      {{ with .Site.Params.subtitle }}{{ . | markdownify }}{{ end }}
    </div>
    <div class="col col-md-1"></div>
  </div>

  <ul id="og-grid" class="og-grid">
    {{ range $.Site.Data.items.items }}
    <li>
      <a href="{{.url}}" data-largesrc="{{.image}}" data-title="{{.title}}" data-description="{{.description }}" data-buttontext="{{.buttontext}}">
        <img src="{{.thumb}}" alt="{{.alt}}"/>
      </a>
    </li>
    {{ end }}
  </ul>
</div>
{{ partial "footer" . }}
