{{ partial "header" . }}
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-auto">
      <img style="border: 1px solid #ddd; border-radius:50%; width: 150px;" src="/images/chichi-sticks-logo.png"></img>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <h1>{{ with .Site.Params.title }}{{ . | markdownify }}{{ end }}</h1>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-1"></div>
    <div class="col text-center d-none d-sm-block">
      {{ with .Site.Params.subtitle }}{{ . | markdownify }}{{ end }}
    </div>
    <div class="col-1"></div>
  </div>

  <ul id="og-grid" class="og-grid">
    {{ range sort $.Site.RegularPages "Params.gridorder" }}
    {{ if and (and (isset .Params "gridimage") (isset .Params "gridthumb")) (isset .Params "gridalt") }}
    <li>
      <a href="{{.URL}}"
        data-largesrc="{{.Params.gridimage}}"
        data-title="{{.Title}}"
        data-description="{{.Description }}"
        data-buttontext="{{$.Site.Params.buttontext}}">
        <img src="{{.Params.gridthumb}}" alt="{{.Params.gridalt}}"/>
      </a>
    </li>
    {{ end }}
    {{ end }}
  </ul>
</div>
{{ partial "footer" . }}
